* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: #fec0ce;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; /* You may adjust the height as needed */
  background-color: #e3879e;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; /* You may adjust the height as needed */
  background-color: #e3879e;
}

.container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.flex-item-right {
  width: 480px; /* Fixed width */
  height: 480px; /* Fixed height */
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  --grid-size: calc(320px / var(--amount));
  background-color: white;
}

.grid-item {
  box-sizing: border-box;

  width: var(--grid-size);
  height: var(--grid-size);
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 3px; /* Specified height */

  border-radius: 5px;
  background: #010101; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0b0b0b;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 100%;
  height: 25px;
  border-radius: 50%;
  background: #0d0e0d;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 15px;
  margin: 25px;
  background-color: #e0e0e0;
  border-radius: 6%;
}
#gridInfo {
  text-align: center;
}
input[type="color"] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
  background: none;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex-item-left {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  justify-content: left;
  align-items: center;
}
